<!--
  Generated template for the FindPropertyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">

  <ion-navbar>
    <ion-title>Find Home</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="searchType">
 
      <ion-segment-button value="nowproperty">
        Property
      </ion-segment-button>
      <ion-segment-button value="tenant">
        Tenant
      </ion-segment-button>
      <ion-segment-button value="oldproperty">
        Recent Rent
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content #pageContent fullscreen padding [ngSwitch]="searchType">
    <div *ngSwitchCase="'nowproperty'">
        <ion-grid>
        <ion-row>
    <ion-searchbar *ngIf="choseother" placeholder="Search Estate Name" name="searchBar"  (ionInput)="findProperty($event, 'propertyProfile','address','price')" autocomplete></ion-searchbar>
    </ion-row>
    <ion-row>
    <ion-col col-sm-3 >
        <span class="desc" (click) = "showad()">Advanced Search</span>
    </ion-col>
    </ion-row> 
    <ion-row *ngIf="!choseother">
      <ion-col  >
          <ion-item col-9 col-md-6>
              <ion-label col-3 col-md-2>
               Price
              </ion-label>
              <ion-input col-6 type="number" [(ngModel)]="price" placeholder="$HKD" ></ion-input>
            </ion-item>
            <ion-item col-md-6>
                <ion-label col-4 >
                    Location
                   </ion-label>
            <ion-select [(ngModel)]="location" interface="popover" col>
              <ion-option value="Tseung Kwan O">Tseung Kwan O</ion-option>
              <ion-option value="Hang Hau">Hang Hau</ion-option>
              <ion-option value="Sai Kung">Sai Kung</ion-option>
              <ion-option value="Hong Kong Island">Hong Kong Island</ion-option>
              <ion-option value="Kowloon">Kownloon</ion-option>
              <ion-option value="New Territories">New Terrace</ion-option>
            </ion-select>
          </ion-item>
        <ion-row >
          <ion-col >
          <button ion-button color="light" (click)="findOurproperty()">
              <ion-icon name="search"></ion-icon>Search</button>
          </ion-col>
         </ion-row>
        </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-list>
        <ion-item *ngFor="let item of items">
          {{ item }}
        </ion-item>
      </ion-list> -->
    <ion-grid>
        <h4 id="home-heading4" style="color:#000000;font-weight:300;">
          Result
        </h4>
        
      <ion-row>
            <ion-col *ngFor="let item of ourproperty | async">
                <div>
                    <ion-card (click)="gotoPropertyDetail($event, item)">
                        <img src="{{item?.photos[0]}}" style="height:300px; width: 100%">
                        <ion-card-content>
                          <ion-item>
                            <ion-icon name="home" item-start medium></ion-icon>
                            <h2>{{item?.address}}</h2>
                          </ion-item>
                          <ion-item>
                            <ion-icon name="logo-usd" item-start medium></ion-icon>
                            <h2>HKD: {{item?.price}}</h2>
                          </ion-item>
                          <ion-row>
                            <!-- <ion-col>
                                            <ion-badge *ngFor="let number of postTags(item.postTags)" color="light" class="badges">{{number}}</ion-badge>
                                          </ion-col> -->
                          </ion-row>
                          <ion-row>
                            <ion-col center text-center>
                              <ion-note>
                                Last Update: {{convert2Date(item?.dateCreated) | date: "yyyy/MM/dd HH:mm"}}
                              </ion-note>
                            </ion-col>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                </div>
              </ion-col>
      </ion-row>
    </ion-grid>
    
    </div>


  <div *ngSwitchCase="'oldproperty'">
    <ion-grid>
    <ion-row>
<ion-searchbar *ngIf="choseother" placeholder="Search Estate Name" name="searchBar" id="home-search2" (ionInput)="findProperty($event, 'historical_price2','displayText','dateCreated'); findProperty($event, 'historical_price1','displayTextHk','dateCreated');" autocomplete></ion-searchbar>
</ion-row>
<ion-row>
<ion-col col-sm-3 >
    <span class="desc" (click) = "showad()">Advanced Search</span> 
</ion-col>
</ion-row> 
<ion-row *ngIf="!choseother">
  <ion-col  >
      <!-- <ion-item col-9 col-md-6>
          <ion-label col-3 col-md-2>
           Price
          </ion-label>
          <ion-input col-6 type="number" [(ngModel)]="price" placeholder="$HKD" col-md-4></ion-input>
        </ion-item> -->
        <ion-item col-md-6>
            <ion-label col-4 >
                Location
               </ion-label>
        <ion-select [(ngModel)]="location" interface="popover" col>
            <ion-option value="Hong Kong Island">Hong Kong Island</ion-option>
            <ion-option value="Kowloon">Kowloon</ion-option>
            <ion-option value="New Territories">New Terrace </ion-option>
        </ion-select>
      </ion-item>
    <ion-row >
      <ion-col >
      <button ion-button color="light" (click)="findProperty2()">
          <ion-icon name="search"></ion-icon>Search</button>
      </ion-col>
     </ion-row>
    </ion-col>
    </ion-row>
</ion-grid>
<!-- <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list> -->
<ion-grid>
    <h4 id="home-heading4" style="color:#000000;font-weight:300;">
      Result
    </h4>

  <ion-row>
        <div *ngFor="let item of properties | async">
            <div>
                <ion-card (click)="gotoPropertyDetail($event, item)">
                    <img src="{{item.thumbnail}}">
                    <ion-card-content>
                      <ion-item>
                          <ion-icon name="home" item-start medium></ion-icon>
                          <h2>{{item.displayText}}</h2>
                          <p>{{item.publicLocationNamesHk[3]}}</p>
                      </ion-item>
                      <ion-item>
                        <ion-icon name="logo-usd" item-start medium></ion-icon>
                        <h2>HKD: {{item.price}}</h2>
                      </ion-item>
                    <ion-row>
                        <ion-col>
                          <ion-badge *ngFor="let number of postTags(item.postTags)" color="light" class="badges">{{number}}</ion-badge>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col center text-center>
                        <ion-note>
                          Timestamp: {{convert2Date(item.dateCreated)}}
                        </ion-note>
                      </ion-col>
                    </ion-row>
                  </ion-card-content>
                  </ion-card>
            </div>
          </div>
  </ion-row>

  <ion-row>
    <ion-col *ngFor="let item of properties2 | async">
        <div>
            <ion-card (click)="gotoPropertyDetail($event, item)">
                <img src="{{item.thumbnail}}">
                <ion-card-content>
                  <ion-item>
                      <ion-icon name="home" item-start medium></ion-icon>
                      <h2>{{item.displayText}}</h2>
                      <p>{{item?.publicLocationNamesEn[3]}}</p>
                  </ion-item>
                  <ion-item>
                    <ion-icon name="logo-usd" item-start medium></ion-icon>
                    <h2>HKD: {{item.price}}</h2>
                  </ion-item>
                <ion-row>
                    <ion-col>
                      <ion-badge *ngFor="let number of postTags(item.postTags)" color="light" class="badges">{{number}}</ion-badge>
                    </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col center text-center>
                    <ion-note>
                      Timestamp: {{convert2Date(item.dateCreated)}}
                    </ion-note>
                  </ion-col>
                </ion-row>
              </ion-card-content>
              </ion-card>
        </div>
      </ion-col>
</ion-row>
</ion-grid>

</div>

<div *ngSwitchCase="'tenant'">
  <ion-grid>
  <ion-row>
<ion-searchbar *ngIf="choseother" placeholder="Search Name" name="searchBar" (ionInput)="findProperty($event, 'userProfile', 'username','price')" autocomplete></ion-searchbar>
</ion-row>
<ion-row>
<ion-col col-sm-3 >
  <span class="desc" (click) = "showad()">Advanced Search</span>
</ion-col>
</ion-row> 
<ion-row *ngIf="!choseother">
<ion-col  >
  <ion-item col-md-6>
    <ion-label col-4 >
        Interest
       </ion-label>
<ion-select [(ngModel)]="interest" interface="popover" col >
    <ion-option value="non-smoker">Non-smoker</ion-option>
    <ion-option value="smoker">Smoker</ion-option>
</ion-select>
</ion-item>
      <ion-item col-md-6>
          <ion-label col-4 >
              Gender
             </ion-label>
      <ion-select [(ngModel)]="gender" interface="popover" col>
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
      </ion-select>
    </ion-item>
  <ion-row >
    <ion-col >
    <button ion-button color="light" (click)="findMate()"> 
        <ion-icon name="search"></ion-icon>Search</button>
    </ion-col>
   </ion-row>
  </ion-col>

  </ion-row>
<br />
</ion-grid>
<!-- <ion-list>
  <ion-item *ngFor="let item of items">
    {{ item }}
  </ion-item>
</ion-list> -->
<ion-grid>
  <h4 id="home-heading4" style="color:#000000;font-weight:300;">
    Result
  </h4>
<ion-row>
      <ion-col *ngFor="let item of tenants | async">
          <div>
            <ion-card >
              <img src="{{item?.thumbnail}}" style="width: 100%">
              <ion-card-content>
                <ion-item>
                    <ion-icon name="home" item-start medium></ion-icon>
                    <h2>{{item.username}}</h2>
                    <p>{{item.gender}}</p>
                </ion-item>
                <ion-item>
                  <ion-icon name="logo-usd" item-start medium></ion-icon>
                  <h2>Rent at HKD: {{item.price}}</h2>
                </ion-item>

            </ion-card-content>
            </ion-card>
          </div>
        </ion-col>
</ion-row>
</ion-grid>

</div>
</ion-content>
