<!--
  Generated template for the ChatsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Chat Room</ion-title>
  </ion-navbar>

</ion-header>
 

<ion-content padding> 
    <ion-buttons right >
    
    <button ion-button round fab-left (click)="myGroupChat()">
        My Group
    </button>
    </ion-buttons>
    <ion-list>
        <ion-list-header>
          Notices
        </ion-list-header>
        <div *ngFor="let not of notice let j = index;" (click) = offNotice(j)>
        <ion-item text-wrap *ngIf=not.new >
          
          <h3>{{not.email || "Anonymous"}} has told you something.</h3>
          

        </ion-item>
      </div>
      </ion-list>
      <ion-item *ngIf=want>
          
        <h2>Do you want to contact him? </h2>
        

    
      <ion-item *ngFor="let user of wanttocontact" (click)="goToChat(user)">
        <ion-avatar item-start>
          <img src="http://via.placeholder.com/16x16">
        </ion-avatar>
        <h2>{{user.name || "Anonymous"}}</h2>
        
        <p>{{user.email}}</p>
      </ion-item>
    </ion-item>  
  <ion-list>
    <ion-list-header>
      USERS
    </ion-list-header>
    <ion-item *ngFor="let user of availableusers" (click)="goToChat(user)">
      <ion-avatar item-start>
        <img src="http://via.placeholder.com/16x16"> 
      </ion-avatar>
      <h2>{{user.name || "Anonymous"}}</h2>

      <p>{{user.email}}</p>
    </ion-item>

  </ion-list>
  
</ion-content>
